/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/Weather.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Weather_container__4ohcp {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  background: rgba(193, 231, 241, 0.944);
  border-radius: 10px;
  box-shadow: 0 2px 8px #00000014;
  text-align: center;
}

.Weather_form__x_eZf {
  margin-bottom: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.Weather_checkboxLabel__4SIRN {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  white-space: nowrap; 
}

.Weather_input__3Y7ny {
  width: 300px;
  padding: 8px;
  font-size: 16px;
}

.Weather_button__kDv_q {
  padding: 8px 16px;
  font-size: 16px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
}

.Weather_error__s3hDs {
  color: #e00;
  margin-bottom: 12px;
}

.Weather_weather__GSyeN {
  margin-top: 24px;
}

.Weather_temp__xNMN_ {
  font-size: 2em;
  font-weight: 500;
  margin-left: 8px;
}

.Weather_footerImage__Ru08J {
  margin-top: 20px;
  padding-top: 12px;
  border-top: 1px solid #ccc;
}

.Weather_footerImage__Ru08J img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.Weather_headerImage__xhOjz img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 16px;
}
